/* Desktop */

/* Font imports */

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titillium-web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@media screen and (min-width: 1024px) {
    /* Utilities */
    .layout-grid {
        max-width: 1400px;
    }

    /* Header */

    header {
        position: static;
    }

    /* Header top */

    header .header-top {
        width: 100%;
        height: 50px;
        display: block;
        background-color: #1B1426;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .header-top .social-medias {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    header .header-top .contact-info {
        display: flex;
        gap: 60px;
    }

    header .header-top .contact-info > * {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;

        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
    }

    /* Header bottom */

    header .header-bottom {
        height: 90px;
        background-color: #1B1426;
    }
    
    header .header-bottom .menu-button,
    header .header-bottom .user-menu-button,
    header .header-bottom nav.navigator-menu .phone-number,
    header .header-bottom nav.navigator-menu .email,
    header .header-bottom nav.navigator-menu .social-medias {
        /* Hiding smartphone elements */
        display: none;
    }

    header .header-bottom img.logotype {
        height: 58px;
        position: relative;
        left: -7px;
    }

    header .header-bottom nav.navigator-menu {
        width: 400px;
        height: auto;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        background: none;
        backdrop-filter: none;
    }

    header .header-bottom nav.navigator-menu > a {
        border: none;
        padding: 5px 0;
    }

    header .header-bottom nav.navigator-menu > a:hover {
        color: #F9AA01;
        background-color: transparent;
    }

    header .header-bottom div.lateral-user-menu {
        width: 144px;
        padding: 0;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        backdrop-filter: none;
        background: none;
    }

    /* Main */

    main.content {
        margin-top: 0px;
    }

    /* Banner section */

    main.content section.banner {
        height: 813px;
        background-image: url(../assets/images/desktop-banner-background.png);
    }

    main.content section.banner h1 {
        font-size: 80px;
    }

    main.content section.banner button.about-button {
        width: 200px;
        font-size: 24px;
    }

    /* Cards section */

    main.content section.cards {
        height: 500px;
    }

    main.content section.cards .flex {
        flex-direction: row;
        justify-content: space-between;
    }

    main.content section.cards img {
        width: 40vw;
        max-width: 600px;
    }

    /* Envitation section */

    main.content section.envitation {
        height: 1000px;
    }

    main.content section.envitation h2 {
        font-size: 40px;
    }

    main.content section.envitation div.cards-container {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    main.content section.envitation  div.first-card-container,
    main.content section.envitation div.second-card-container {
        align-self: auto;
    }

    main.content section.envitation .first-card-container > img {
        width: 422px;
        right: 84px;
        bottom: -24px;
    }

    main.content section.envitation .second-card-container > img {
        width: 521px;
        left: 72px;
        bottom: 6px;
    }

    main.content section.envitation article.card {
        width: 360px;
        height: 440px;
        padding: 56px;
    }

    main.content section.envitation article.card img.card-image {
        width: 142px;
        height: 142px;
    }

    main.content section.envitation article.card h3.card-title {
        font-size: 25px;
    }

    main.content section.envitation article.card p.card-text {
        font-size: 16px;
    }

    /* News section */

    main.content section.news {
        height: auto;
        padding: 100px 0;
        background-image: url(../assets/images/desktop-news-background.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    main.content section.news h2.section-title {
        font-size: 40px;
    }

    main.content section.news div.news-container {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    main.content section.news article.news-card {
        width: 285px;
    }

    /* Footer */

    footer {
        position: relative;
        padding: 80px 0;
        background-image: url(../assets/images/desktop-footer-background.png);
        background-position-x: -1px;
        background-size: calc(100% + 1px) 100%;
    }

    footer div.footer-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }

    /* About company article */

    footer div.footer-content article.about-company {
        width: 214px;
    }

    footer div.footer-content article.about-company img.logotype {
        width: 196px;
    }

    /* Useful links article */

    footer div.footer-content article.useful-links ul.links-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
    }

    /* Newsletter article */

    footer div.footer-content article.newsletter {
        width: 284px;
    }

    /* Footer end */

    footer div.footer-end button.return-top-button {
        position: absolute;
        right: 50px;
        bottom: 50px;
        margin: 0;
        align-self: auto;
    }

    footer div.footer-end p.copyright {
        margin-top: 70px;
    }
}