/* Desktop */

/* Font imports */

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titillium-web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@media screen and (min-width: 1024px) {
    /* Header */

    header {
        position: static;
    }

    /* Header top */

    header .header-top {
        width: 100%;
        height: 50px;
        display: block;
        background-color: #1B1426;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .header-top .social-medias {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    header .header-top .contact-info {
        display: flex;
        gap: 60px;
    }

    header .header-top .contact-info > * {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;

        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
    }

    /* Header bottom */

    header .header-bottom {
        height: 90px;
        background-color: #1B1426;
    }
    
    header .header-bottom .menu-button,
    header .header-bottom .user-menu-button,
    header .header-bottom nav.navigator-menu .phone-number,
    header .header-bottom nav.navigator-menu .email,
    header .header-bottom nav.navigator-menu .social-medias {
        /* Hiding smartphone elements */
        display: none;
    }

    header .header-bottom img.logotype {
        height: 58px;
        position: relative;
        left: -7px;
    }

    header .header-bottom nav.navigator-menu {
        width: 400px;
        height: auto;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        background: none;
        backdrop-filter: none;
    }

    header .header-bottom nav.navigator-menu > a {
        border: none;
        padding: 5px 0;
    }

    header .header-bottom nav.navigator-menu > a:hover {
        color: #F9AA01;
        background-color: transparent;
    }

    header .header-bottom div.lateral-user-menu {
        width: 144px;
        padding: 0;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        backdrop-filter: none;
        background: none;
    }

    /* Main */

    main.content {
        margin-top: 0px;
    }
}