/* Mobile Footer */

footer {
    padding: 50px 0;
    background-image: url(../assets/images/mobile-footer-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

footer div.footer-content {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

footer div.footer-content h3.article-title {
    font-family: "TitilliumWeb-Black";
    font-size: 30px;
}

footer div.footer-content hr.line {
    width: 102px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* About company article */

footer div.footer-content article.about-company {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

footer div.footer-content article.about-company img.logotype {
    width: 122px;
}

footer div.footer-content article.about-company p.about-text {
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

footer div.footer-content article.about-company div.social-medias {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer div.footer-content article.about-company div.social-medias a.button-link {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

/* Useful links article */

footer div.footer-content article.useful-links ul.links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
}

footer div.footer-content article.useful-links ul.links-container li::before {
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
}

footer div.footer-content article.useful-links ul.links-container li a {
    font-family: "TitilliumWeb-Bold";
    font-size: 16px;
    color: #fff;
}

/* Contacts article */

footer div.footer-content article.contacts div.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer div.footer-content article.contacts div.contact-container h4.contact-title {
    font-family: "TitilliumWeb-Bold";
    font-size: 16px;
    color: #F9AA01;
}

footer div.footer-content article.contacts div.contact-container p.contact-text {
    font-family: "TitilliumWeb-Regular";
    font-size: 16px;
}

/* Newsletter article */

footer div.footer-content article.newsletter form.newsletter-form input.email-input {
    margin-bottom: 18px;
}

/* Footer end */

footer div.footer-end {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

footer div.footer-end button.return-top-button {
    width: 40px;
    height: 40px;
    margin-top: 80px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}

footer div.footer-end p.copyright {
    font-family: "TitilliumWeb-Regular";
    font-size: 16px;
}