/* Mobile Player */

/* Main */

main.content {
    position: relative;
    z-index: 0;
    height: 1403px;
    margin-top: 60px;
    padding: 82px 0 200px 0;
    background-image: url(../assets/images/mobile-player-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

main.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
}

main.content div.page-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Player register form */

main.content form.player-form {
    position: relative;
    z-index: 2;
    height: 654px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main.content form.player-form div.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.content form.player-form div.title-wrapper h1.form-title {
    margin-bottom: 15px;
}

main.content form.player-form div.title-wrapper hr {
    width: 180px;
}

main.content form.player-form div.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Players table */

main.content table.players-table {
    position: relative;
    z-index: 2;
    width: 100%;
}

main.content table.players-table thead.table-head,
main.content table.players-table tbody.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main.content table.players-table thead.table-head > tr.head-row {
    padding: 10px 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #F9AA01;
    color: #F9AA01;
    font-family: "TitilliumWeb-Black";
    font-size: 20px;
    text-transform: uppercase;
}

main.content table.players-table tbody.table-body > tr.body-row {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "TitilliumWeb-Bold";
    font-size: 18px;
}

main.content table.players-table tbody.table-body td {
    width: 100%;
    height: 34px;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #F9AA01;
}

main.content table.players-table tbody.table-body td:last-of-type {
    border-right: none;
}