/* Font imports */

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titillium-web/TitilliumWeb-Black.ttf);
}

/* General changes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Utilities */

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-left-menu {
    left: 0vw !important;
}

/* Mobile fist */

/* Header */

header {
    width: 100%;
    height: 60px;
    background-color: #1B1426;
}

header .header-top {
    display: none;
}

header .header-bottom {
    height: 100%;
}

header .header-bottom img.logotype {
    height: 36px;
}

header .header-bottom nav.navigator-menu {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.3s;
}

header .header-bottom nav.navigator-menu > a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav.navigator-menu > a:last-of-type {
    border: none;
}

header .header-bottom nav.navigator-menu .social-medias {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

header .header-bottom nav.navigator-menu .phone-number, header .header-bottom nav.navigator-menu .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}

header .header-bottom .lateral-user-menu {
    display: none;
}