/* Font imports */

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titillium-web/TitilliumWeb-Black.ttf);
}

/* General changes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile fist */

body {
    background-color: blanchedalmond;
}