/* Utilities */

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-left-menu {
    left: 0vw !important;
}

.show-right-menu {
    right: 0vw !important;
}

.yellow-button {
    width: 100%;
    height: 40px;
    font-family: "TitilliumWeb-Bold";
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background-color: #F9AA01;
}

.yellow-button:hover {
    background-color: #f7b425;
    box-shadow: 0 0 8px #ffffffd4;
    cursor: pointer;
}

.yellow-button:active {
    background-color: #bc8100;
}

.transparent-input {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0 18px;
    color: #fff;
    font-family: "TitilliumWeb-Regular";
    font-size: 16px;
}

.transparent-input::placeholder {
    font-family: "TitilliumWeb-Regular";
    font-size: 16px;
    color: #fff;
}

.transparent-input:focus {
    outline: none;
}

.form-title {
    font-family: "TitilliumWeb-Black";
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    line-height: 34px;
    color: #fff;
}

.background-glass {
    background: linear-gradient(134.89deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 100%);
    border: 1px solid #fff;
    border-radius: 8px;
}

.yellow-line {
    border: 2px solid #F9AA01;
}
@media screen and (min-width: 1024px) {
    /* Utilities */
    .layout-grid {
        max-width: 1400px;
    }
}